.home {
    z-index: 0;
    position: relative;
    background: url("../assets/images/background.jpg") no-repeat center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

.home > .img {
    position: relative;
    width: 38.5%;
    height: 49%;
    left: 12.9%;
    top: 31%;
}

.home > .childImage {
    position: relative;
    height: 37%;
    width: 17.1%;
    top: 41%;
    left: 57.8%;
    /*bottom: 50%;*/
}

.home > .txtOfHomePage {
    position: absolute;
    color: white;
    font-size: 50px;
    left: 25%;
    top: 5px;
    /*left: 195px;*/
}

.navigationHeader {
    color: #6D6D6D;
}

.home > .hrOfHomePage {
    border-radius: 50px;
    width: 700px;
    height: 10px;
    background-color: #B7B1B1;
    position: absolute;
    align-content: center;
    top: 99px;
    left: 22.5%;
}

.about {
    position: relative;
    padding-bottom: 20px;
    height: 100vh;
    background-color: #EBE5E5;
}

.about > .title {
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 20px;
    left: 100px;
    top: 12px;
    padding-bottom: 10px;
}

.about > .title::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 8px;
    background: #FFA500;
    border-radius: 30px;
}

.about > .aboutProPicImg {
    position: relative;
    width: 55%;
    top: 21%;
    left: 2.2%
}

.about > .content {
    position: absolute;
    top: 55px;
    left: 59%;
}

.about > .content > .header1 {
    font-size: 30px;
    margin-bottom: 2px;
}

.about > .content > .header2 {
    position: relative;
    font-size: 25px;
    font-family: "Times New Roman";
    color: #D49B00;
    margin-top: 2px;
}

.about > .content > .aboutDetails {
    position: relative;
    font-family: "Segoe UI";;
    font-size: 18px;
    font-weight: 600;
    left: 5.3%;
}

.about > .content > .button {
    position: relative;
    border: 0;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    left: 110px;
    transform: translateX(0%);
}

.about > .content > .button > .downloadCv {
    position: absolute;
    top: 50px;
    color: black;
    background-color: #FFBB00;
    font-weight: 600;
    border: 0;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.about > .content > .button > .downloadCv:hover {
    transition: all 0.6s ease;
    background: #444965;
    color: #E4E5E8;
    font-weight: 700;
}

.about > .content > .button > .hireMe {
    position: absolute;
    top: 95px;
    color: white;
    background-color: #464237;
    font-weight: 600;
    border: 0;
    border-radius: 20px;
    width: 250px;
    height: 35px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.6s ease;
}

.about > .content > .button > .hireMe:hover {
    transition: all 0.6s ease;
    background: #444965;
    color: #FFBB00;
    font-weight: 700;
}

.education {
    position: relative;
    background-color: #EBE5E5;
    height: 100vh;
}

.education > .title {
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 20px;
    left: 100px;
    top: -22px;
    padding-bottom: 10px;
}

.education > .title::after {
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 8px;
    background: #FFA500;
    border-radius: 30px;
}

.education > .content {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-gap: 50px;
    left: 50%;
    top: 52%;
    transform: translate(-50%, -50%);
    font-family: 'Ubuntu', sans-serif;
}

.education > .content > div {
    position: relative;
    width: 750px;
    height: 110px;
    background: #D7D7D7;
    box-shadow: 14px 14px 10px 1px #928c8c;
}

.education > .content > .ijse::after {
    position: absolute;
    content: " ";
    width: 110%;
    height: 5px;
    background: #AB9999;
    bottom: 0;
    transform: translateY(28px);
    left: -5%;
}

.education > .content > .ijse > .logo {
    position: absolute;
    width: 200px;
    height: 100px;
    background: url("../assets/images/ijse_logo.png") no-repeat center;
    background-size: contain;
    top: 5%;
    left: -4%;
    transform: rotate(-360deg);
}
.education > .content > div > .sub-title, .education-type, .year {
    position: absolute;
    left: 160px;
}

.education > .content > div > .sub-title {
    font-size: 16px;
    top: 5px;
}

.education > .content > div > .education-type {
    font-size: 20px;
    top: 27px;
}
.education > .content > div > .year{
    font-size: 14px;
    top: 65px;
}
.education > .content > div > a{
    position: absolute;
    left: 660px;
    top: 85px;
}
.education > .content > div > a > .Morebutton{
    font-size: 12px;
    background-color: #726b6b;
    color: white;
    border: 0;
    border-radius: 50px;
    cursor: pointer;
    width: 130%;
}
.education > .content > div > a > .Morebutton:hover{
    transition: 0.6s;
    background-color: #1C2520;;
}
.education > .content > div > a > .Morebutton:focus {
    outline: none !important;
}


.education > .content > #div2Edu{
    position: relative;
    width: 750px;
    height: 110px;
    background: #c7c676;
    box-shadow: 14px 14px 10px 1px #928c8c;
}
.education > .content > .mahanama::after{
    position: absolute;
    content: " ";
    width: 110%;
    height: 5px;
    background: #AB9999;
    bottom: 0;
    transform: translateY(28px);
    left: -5%;
}

.education > .content > .mahanama > .logo{
    position: absolute;
    width: 200px;
    height: 110px;
    background: url("../assets/images/mahanama logo.png") no-repeat center;
    background-size: contain;
    top: 0%;
    left: -7.1%;
    transform: rotate(-360deg);
}

.education > .content > #div3Edu{
    position: relative;
    width: 750px;
    height: 110px;
    background: #a2adbd;
    box-shadow: 14px 14px 10px 1px #928c8c;
}
.education > .content > #div3Edu > .AshokaLogo{
    position: absolute;
    width: 90px;
    height: 110px;
    background: url("../assets/images/Ashoka Logo.png") no-repeat center;
    background-size: contain;
    top: 0%;
    left: 1.5%;
    transform: rotate(-360deg);   
}

.skills{
    position: relative;
    background-color: #EBE5E5;
    height: 100vh;  
}
.skills > .title{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 20px;
    left: 100px;
    top: -22px;
    padding-bottom: 10px;
}
.skills > .title::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 8px;
    background: #FFA500;
    border-radius: 30px;
}
.skills >.javaImg{
    position: absolute;
    left: 18%;
    width: 220px;
    height: 220px;
    top: 10%;
}
.skills > .mySqlImg{
    position: absolute;
    left: 40%;
    width: 220px;
    height: 220px;
    top: 10%;
}
.skills > .hibernateImg{
    position: absolute;
    left: 62%;
    width: 220px;
    height: 220px;
    top: 10%;
}

.skills > .htmlImg{
    position: absolute;
    left: 18%;
    width: 180px;
    height: 180px;
    top: 50%;
}
.skills > .cssImg{
    position: absolute;
    left: 40%;
    width: 222px;
    height: 180px;
    top: 50%;
}
.skills > .javascriptImg{
    position: absolute;
    left: 64%;
    width: 170px;
    height: 180px;
    top: 50%;
}

.projects{
    position: relative;
    background-color: #565151;
    height: 100vh;  
}
.projects > .title{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 20px;
    left: 100px;
    top: 15px;
    padding-bottom: 10px;
    color: white;
}
.projects > .title::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 8px;
    background: #FFA500;
    border-radius: 30px;
}

/*-----------------------------------*/
.projects > .slide{
    position: relative;
    width: 754px;
    height: 292px;
    margin: 115px auto 0;

}
.projects > .slide > .prev-slide,.next-slide{
 position:absolute;
 top: 50%;
 width: 40px;
 height: 40px;
 margin-top: -20px;
 border-radius: 50px;
 line-height: 40px;
 text-align: center;
 cursor:pointer;
 background-color: white;
 color: black;
 transition: all 0.7s;
 font-size: 20px;
 font-weight: bold;

}

.projects > .slide > .prev-slide:hover,.next-slide:hover{
    opacity: 1;
    background-color: white;
}
.projects > .slide > .prev-slide{
    left: -70px;
}
.projects > .slide > .prev-slide::before{
    content: '<';
}
.projects > .slide > .next-slide{
    right: -70px;
}
.projects > .slide > .next-slide::before{
    content: '>';
}
.projects > .slide > ul{
    list-style: none;
    position: relative;
    width: 754px;
    height: 292px;
    margin: 0;
    padding: 0;
}
.projects > .slide > ul >li{
    overflow:hidden;
    position: absolute;
    z-index: 0;
    left: 377px;
    top: 147px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 3px solid white;
    background-color: #333;
    cursor: pointer;
}
.projects > .slide > ul > li > img{
    width: 100%;
    height: 100%;
    background-position: center;
}
/*---------------------------------*/

.services{
    position: relative;
    background-color: #565151;
    height: 130vh; 
}
.services > .title{
    position: absolute;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 20px;
    left: 100px;
    top: 15px;
    padding-bottom: 10px;
    color: white;
}
.services > .title::after{
    position: absolute;
    left: 0;
    bottom: 0;
    content: " ";
    width: 100%;
    height: 8px;
    background: #FFA500;
    border-radius: 30px;
}
.services > .content{
    position: absolute;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 70px;
    left: 54.5%;
    top: 55%;
    transform: translate(-50%, -50%);
}
.services > .content > .App-Development::after,.Web-Development::after,.Innovative_Ideas::after,.Ecommerce::after{
    position: absolute;
    content: " ";
    width: 250px;
    height: 4px;
    background: white;
    border-radius: 30px;
    transform: rotate(270deg);
    margin-left: -50px;
}
.services > .content > .App-Development::after,.Web-Development::after{
    top: 120px;
    left: 205px;
}
.services > .content > .Web-Development::after {
    left: 575px;
}
.services > .content > .Innovative_Ideas::after,.Ecommerce::after{
    top: 440px;
}
.services > .content > .Innovative_Ideas::after{
    left: 205px;
}
.services > .content > .Ecommerce::after{
    left: 575px;
}

.services > .content > article > .sub-title {
    font-size: 24px;
    color: white;
    padding-top: 0px;
    padding-bottom: 0px;
}

.services > .content > article > .sub-content {
    font-weight: 100;
    font-size: 20px;
    color: white;
    width: 300px;
    height: 90px;
}

.services > .content > .App-Development > .icon{
    background-image: url("../assets/images/App-Development.png");
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: contain;
}
.services > .content > .Web-Development > .icon{
    background-image: url("../assets/images/Web-Development.png");
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: contain;
}
.services > .content > .Web-Design > .icon{
    background-image: url("../assets/images/Web-Design.png");
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: contain;
}
.services > .content > .Innovative_Ideas > .icon{
    background-image: url("../assets/images/Innovative-Ideas.png");
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: contain;
}
.services > .content > .Ecommerce > .icon{
    background-image: url("../assets/images/E-commerce.png");
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: contain;
}
.services > .content > .Graphic-Design > .icon{
    background-image: url("../assets/images/Graphic Design.png");
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-size: contain;
}