body > main{
    position: relative;
}
body > main > header:nth-child(1){
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 8vh;
    background-color: lavender;
}
body > main > header:nth-child(1) > div{
    position: absolute;
    background-image: url(/assets/ijselogo.png);
    width: 250px;
    height: 50px;
    z-index: 4;
    background-size: cover;
    top: 1px;
    left: 10px;
}

body > main > header:nth-child(1) > nav > ul{
    position: absolute;
    left: 65%;
}
body > main > header:nth-child(1) > nav > ul > li{
    font-size: 18px;
    flex: 1;
    color: black;
    align-items: center;
    display: inline-block;
    margin: 0px 20px;
}

body > main > nav:nth-child(2){
    position: absolute;
    top: 48px;
    left: 0;
    bottom: 0;
    width: 200px;
    color: white;
    background-color: rgb(76, 0, 130);
    font-family: "Readex Pro", sans-serif;
    font-size: 20px;
    z-index: 4;
}
body > main > nav:nth-child(2) > ul{
    list-style: none;
}
body > main > nav:nth-child(2) > ul > li{
    display: block;
    color: white;
    line-height: 35px;
    font-weight: 500;
    font-size: 18px;
}
body > main > section:nth-child(3){
    width: 1073px;
    margin-left: 203px;
    top: 48px;
}
body > main > section:nth-child(3) > .container{
    position: relative;
    width: 800px;
    height: 155px;
    top: 15px;
    left: 0;
    right:0;
    margin: auto;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 0;
    z-index: 2;
}
body > main > section:nth-child(3) > .container > img{
    height: 100%;
    background-size: cover;
    width: 259px;
}
body > main > section:nth-child(3) > article{
    position: relative;
    margin-top: 25px;
    left: 12px;
}
body > footer{
    position: relative;
    width: 100vw;
    background-color: darkgray;
    height: 30px;
    /*top: 1690px;*/
    top: -17px;
}
body > footer > p{
    position: absolute;
    right: 10px;
    top: 5px;
    text-align: center;
    font-family: "Readex Pro", sans-serif;
    color: white;
    font-weight: 600;
    margin:auto;
}
