body > main > section{
    position: relative;
    width: 100vw;
    height: 100vh;
}
body > main > section > header{
    position: -webkit-sticky;
    position: sticky;
    top:0;
    width: 100vw;
    height: 60px;
}
body > main > section:nth-child(1) > header{
    background-color: rgb(219, 58, 47);
}
body > main > section > header > h2{
    position: absolute;
    text-align: center;
    margin-top: 12px;
    margin-left: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
}
body > main > section > h1{
    position: relative;
    text-align: center;
    margin-top: 220px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 75px;
}

body > main > section:nth-child(2){
    background-color: rgb(27, 142, 219);
}
body > main > section:nth-child(2) > header{
    background-color: rgb(14, 67, 165);
}

body > main > section:nth-child(3){
    background-color: rgb(61, 62, 63);
}
body > main > section:nth-child(3) > header{
    background-color: rgb(25, 25, 26);
}

body > main > section:nth-child(4){
    background-color: rgb(207, 47, 36);
}
body > main > section:nth-child(4) > header{
    background-color: rgb(105, 21, 21);
}